config/private.yml
blobs
dev_releases
releases/*.tgz
releases/**/*.tgz
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.DS_Store
.idea
*.swp
*~
*#
#*

# copied shamelessly from https://raw.githubusercontent.com/cppforlife/bosh-virtualbox-cpi-release/4e1b14be3250b15b455b93ae77b944e429cb8cd0/.gitignore
tmp
Library

src/bosh_virtualbox_cpi/vendor/cache/
manifests/bosh-state.json

/pkg
/bin
